.layout {
  display: flex;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.highlight {
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}